<div class="container mt-5 mb-5">
  <div class="card col-md-6 offset-3">
    <div class="card-header bg-primary">
      <h3 style="color: white" class="text-center">Lieu</h3>
    </div>
    <div class="card-body text-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <form [formGroup]="lieuEditForm" (ngSubmit)="handleUpdatelieu()">
      <div class="row m-5">
        <div class="col-md-6">
          <div>
            <label for="rue" class="form-label">Rue</label>
            <input
              type="text"
              class="form-control"
              formControlName="rue"
              id="rue"
              required
            />
          </div>
          <div>
            <label for="commune" class="form-label">Commune</label>
            <input
              type="text"
              class="form-control"
              formControlName="commune"
              id="commune"
              required
            />
          </div>
          <div>
            <label for="ville" class="form-label">Ville</label>
            <input
              type="text"
              class="form-control"
              formControlName="ville"
              id="ville"
              required
            />
          </div>

          <div class="d-flex justify-content-center align-items-center mt-3">
            <button type="submit" class="btn btn-primary">
              Submit form
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


