.high-barre {
  background-color: #f8f9fa; /* Couleur de fond */
  border-radius: 5px;
  margin-bottom: 20px; /* Ajouter un espace en dessous de la barre d'actions */
  display: flex;
  justify-content: center;
}
