


 <div class="container">
  <button class="btn btn-primary" (click)="createMonthlyInvoices()">Créer Factures Mensuelles</button>
  <h2>Liste des Factures</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Date d'envoi</th>
        <th>Montant</th>
        <th>Type d'abonnement</th>
        <th>État de paiement</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices; let i = index">
        <td>{{invoice.id }}</td>
        <td>{{ invoice.abonnement.user.first_name }} {{ invoice.abonnement.user.last_name }}</td>
        <td>{{ invoice.dateEnvoie | date: 'shortDate' }}</td>
        <td>{{ invoice.montant | currency }}</td>
        <td>{{ invoice.abonnement.typeAbonnement.type }}</td>
        <td>{{ invoice.etatDePaiement ? 'Payée' : 'Non Payée' }}</td>
        <td>
          <button
            class="btn btn-success ms-5"
            (click)="confirmUpdatePayment(invoice.id, !invoice.etatDePaiement)"
            style="display: flex; align-items: center;justify-content: center;"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="notificationMessage" class="alert alert-success" role="alert">
    {{ notificationMessage }}
  </div>
</div>





