
<div class="container">
  <table class="table table-dark table-bordered table-striped text-white text-center" style="margin-top: 20px; margin-bottom: 100px;">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Participation</th>
        <th>Liste des participants</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.nom }}</td>
        <td>{{ event.dateDebut | date : "yyyy-MM-dd" }}</td>
        <td>{{ event.dateFin | date : "yyyy-MM-dd" }}</td>
        <td>
          <button
            class=""
            [ngClass]="{
              'btn-danger': eventParticipationStatus[event.nom] === 'ne participe pas',
              'btn-success': eventParticipationStatus[event.nom] === 'participe'
            }"
            (click)="participateEvent(event)"
          >
            {{ eventParticipationStatus[event.nom] }}
            <i class="bi bi-tree-fill"></i>
          </button>
        </td>
        <td>
          <select (click)="getParticipants(event.id)">
            <option value="">Lister les participants</option>
            <option *ngFor="let participant of participants" [value]="participant.id">
              {{ participant.first_name }} {{ participant.last_name }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>


