<div class="p-3 high-barre" style="width: 100%; display: flex; align-items: end;  justify-content: center; align-items: center;">
  <div
    *ngIf="program"
    style="width: 70%; margin-right: 10px; margin-left: 45px; margin-top: 20px"
  >
  <app-high-bar-user></app-high-bar-user>






  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <table>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!program.technicals || program.technicals.length === 0">
                <td colspan="2">Aucune technique disponible.</td>
              </tr>
              <tr *ngFor="let technical of program.technicals">
                <td>{{ technical.nom }}</td>
                <td>{{ technical.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<div
  style="width: 90%; margin-right: 10px; margin-left: 45px; margin-top: 20px"
>

</div>

